{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            {{ ux_map(myMap, { style: 'height: 300px' }) }}
        </div>
        <div class="col-md-3">
            <ol>
                {% for loc in locations %}
                    <li>
{#                        @todo: icon#}
                        {{ loc.typeString }}/
                        {{ loc.name }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-3">
            <ol>
                {% for artist in artists %}
                    <li>{{ artist.name }}</li>
                {% endfor %}
            </ol>
        </div>


    <p>
        popup galleries of San Crisobal!
    </p>
        {{ app.environment }}

    {{ 'hello'|trans }}
    {{ 'artists'|trans }}


</div>
{% endblock %}
