{# this is used by EasyAdmin when the 'obras' field is rendered. #}
<table>
    <tbody>


{% for obra in entity.instance.obras %}
    <tr valign="top">
        <td>
            {% if obra.images.small|default(false) %}
                <img src="{{ obra.images.small }}" alt="{{ obra.title|e }}" style="max-width: 200px; display: block; margin-bottom: 1em;max-height: 200px;">
            {% endif %}

            {% set linkToVoxitour = voxitourEndpoint ~ app.request.locale ~ '/chijal?obraId=' ~ obra.code ~ '#tab-obras' %}
            <a href="{{ linkToVoxitour }}" target="_blank">
                {#                        @Voxitour!! {{ linkToVoxitour}}#}
                <img src="{{ qr_code_url(linkToVoxitour) }}" style="max-width: 200px" />
            </a>

            {% if is_granted('OBJ_EDIT', obra) %}
                <a href="{{ path('admin_obra_edit', {entityId: obra.id}) }}">
                    {#        <a href="{{ path('admin_obra_edit', obra.erp) }}">#}
                    {{ ux_icon('tabler:edit') }}
                </a>
            {% endif %}
        </td>
        <td>
            <a href="{{ path('admin_obra_detail', {entityId: obra.id}) }}">
                <h3>
                    {{ obra.title }}
                </h3>
            </a>

            <b>por {{ obra.artist }}</b>
            <i>@{{ obra.location }}</i>

        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

