{% extends "base.html.twig" %}

{% block body %}

    <h1>{{ location.name }}</h1>
    Type: {{ location.typeString }}
    @map?
    {{ location.lat }}, {{ location.lng }}

    {% if my_map %}
    {{ ux_map(my_map, { style: 'height: 300px' }) }}
        {% else %}
        no lat/long
    {% endif %}


    @todo: description, map
    <twig:Obras :obras="location.obras" :showLocation="false" />
{% endblock %}
