{% extends "base.html.twig" %}

{% block body %}

        <a class="btn btn-success" href="{{ ea_url()
            .setController('App\\Controller\\Admin\\ArtistCrudController')
            .setAction('edit')
            .setEntityId(artist.id)
        }}">
            EzEdit
            {{ ux_icon('tabler:edit') }}
        </a>
    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}


    {% set mobile_base = app.request.get('base', mobile_base) %}
    {% set url = mobile_base ~ '?artistId=%d#tab-artists'|format(artist.id) %}
    <a href="{{ url }}" target="_blank">
        {{ url }}
        <img src="{{ qr_code_url(url) }}"/>

        <div class="print-group">
        </div>

    </a>

    <h1>{{ artist.name }}</h1>
    <p>
        {{ artist.bio }}
    </p>
    {{ component('Obras', {obras: artist.obras, showArtist: false}) }}

{% endblock %}
