{% extends "base.html.twig" %}

{% block body %}

    {% for action in ['edit','detail'] %}
        {% set path = path('admin_artist_' ~ action, {entityId: artist.id}) %}
        <a class="btn btn-success" href="{{ path }}">
            Ez{{ action|title }}
            @ico
{#            {{ ux_icon('tabler:edit') }}#}
        </a>

    {% endfor %}
    {% set path = path('admin_artist_detail', {entityId: artist.id}) %}
        <a class="btn btn-success" href="{{ path }}">
            {{ ux_icon('tabler:edit') }}
        </a>
    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}


    {% set mobile_base = app.request.get('base', mobile_base) %}
    {% set url = mobile_base ~ '?artistId=%d#tab-artists'|format(artist.id) %}
    <a href="{{ url }}" target="_blank">
        {{ url }}
        <img src="{{ qr_code_url(url) }}"/>

        <div class="print-group">
        </div>

    </a>

    <h1>{{ artist.name }}</h1>
    <p>
        {{ artist.bio }}
    </p>
    {{ component('Obras', {obras: artist.obras, showArtist: false}) }}

{% endblock %}
