<h3>{{ obras|length }} Obras</h3>
<table class="table">
    <thead>
    <tr>
        <th>QR</th>
        <th>Image</th>
        <th>Info</th>
    </tr>
    </thead>
    <tbody>
    {% for obra in obras %}
        <tr>
            <td>
                {% set mobile_base = app.request.get('base', mobile_base)  %}
                {% set url = mobile_base ~ path('mobile_obra', obra.rp) %}
                {% set url = mobile_base ~ '?id=%d#tab-obras'|format(obra.id) %}
                <a href="{{ url }}" target="_blank">
                    <img src="{{ qr_code_url(url) }}" />

                    <div class="print-group">
                        </div>

                </a>
            </td>
            <td>
                {% for image in obra.obraImages %}
                    @todo: image {{ image.imageName }}
{#                    {{ dump(image) }}#}
{#                    <img src="{{ image }}"/>#}

                {% endfor %}
            </td>
            <td>

                <h3>{{ obra.title }}</h3>
                {% if obra.description %}
                    <p>
                        {{ obra.description|raw }}
                    </p>
                {% endif %}
                {% if showArtist %}
                    <i>por {{ obra.artist }}</i>
                {% endif %}
                {% if showLocation %}
                    {% if obra.location %}
                        <code>@{{ obra.location }}</code>
                    {% else %}
                        {{ 'no-location'|trans }}
                    {% endif %}
                {% endif %}
            </td>

        </tr>
    {% endfor %}

    </tbody>
</table>
</ol>
