<h3>{{ obras|length }} Obras</h3>
<table class="table">
    <thead>
    <tr>
        <th>QR</th>
        <th>Image</th>
        <th>Info</th>
    </tr>
    </thead>
    <tbody>
    {% for obra in obras %}
        <tr>
            <td>
                {# this should not be done in TWIG!  quick hack for debugging #}
                {% set mobile_base = app.request.get('base', mobile_base)  %}

{#                https://pgsc.wip/artists/13?debug=1&base=fw.survos.com#}
                {% if not (mobile_base matches '/http/') %}
                    {% set mobile_base = 'https://' ~ mobile_base %}
                {% endif %}
                {% set url = mobile_base ~ path('mobile_obra', obra.rp) %}
                {% set url = mobile_base ~ '?id=%d#tab-obras'|format(obra.id) %}

                <a href="{{ url }}" target="_blank">
                    <img src="{{ qr_code_url(url) }}" />
                    <div class="print-group">
                    </div>
                    {% if app.request.get('debug', false) %}
                    {{ url }}
                    {% endif %}
                </a>
            </td>
            <td>
                {% for image in obra.obraImages %}
                    @todo: image {{ image.imageName }}
{#                    {{ dump(image) }}#}
{#                    <img src="{{ image }}"/>#}

                {% endfor %}
            </td>
            <td>

                <h3>{{ obra.title }}</h3>
                {% if obra.description %}
                    <p>
                        {{ obra.description|raw }}
                    </p>
                {% endif %}
                {% if showArtist %}
                    <i>por {{ obra.artist }}</i>
                {% endif %}
                {% if showLocation %}
                    {% if obra.location %}
                        <code>@{{ obra.location }}</code>
                    {% else %}
                        {{ 'no-location'|trans }}
                    {% endif %}
                {% endif %}
                <twig:ux:icon name="tabler:currency-dollar" />{{ obra.price|number_format }}
            </td>

        </tr>
    {% endfor %}

    </tbody>
</table>
</ol>
